body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc;
  color: #4e3b31;
}

header {
  background-color: #3b2f25;
  color: white;
}

footer {
  background-color: #3b2f25;
  color: white;
}

.navbar {
  background-color: #5B3A29;
  padding: 15px;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #d2b48c;
}

#menu {
  background-color: #fff;
}

.about-section {
  background-color: #d2b48c;
  padding: 40px 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.about-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.menu-image-container {
  position: relative;
}

.menu-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.menu-image-container:hover .menu-image {
  transform: translateY(-10px); /* Move the image up */
}

.menu-price {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
  color: #8B5A2B;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8B5A2B;
  --bs-btn-border-color: #8B5A2B;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d2b48c;
  --bs-btn-hover-border-color: #8B5A2B;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8B5A2B;
  --bs-btn-border-color: #8B5A2B;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d2b48c;
  --bs-btn-hover-border-color: #8B5A2B;
}

.cta-section {
  background-color: #d2b48c;
  padding: 40px 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
}

.cta-button {
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #8B5A2B;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #6f4f3e;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-text {
  text-align: justify;
}

h2 {
  margin-right: 20px;
}

.spacer {
  height: 75px;
}
